<div class="container mt-2 mb-5 mr-3">
<div class="d-flex justify-content-between">
    <h1>Seus produtos cadastrados:</h1>
    <%= link_to 'new product', new_product_path, class:'btn btn-primary'  %>
  </div>
</div>
  <div class="container">

    <div class="row">
    <% @products.each do |product| %>
     <div class="col-sm-6 col-md-3">
      <div class="card mb-5">
        <%= cl_image_tag(product.photo, width: 150, height: 150, crop: :thumb) %>
        <%= link_to product.name, product_path(product), class:'btn btn-light justify-aling:center', style:'height: 100px'%>
        <p>Descroção:<%= product.description %></p>
        <p>Categoria:<%= product.category %></p>
        <p>Valor: R$ <%= product.price %></p>
        <p>Status do produto:<%= product.status ? "Disponível" : "Não disponível" %></p>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>


