<div class="d-flex justify-content-between">
  <h1>Ola Débora!</h1>
  <div class="button-box">
    <%= link_to 'new product', new_product_path, class:'btn btn-primary'  %>
  </div>

</div>
<div class="container bg-light">
<% @products.each do |product| %>
  <%= link_to  product_path(product) do  %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p><%= product.category %></p>
        <p><%= product.price %></p>
        <p><%= product.status %></p>
      </div>
    </div>
  <% end %>
<% end %>

</div>



