<%= simple_form_for @product do |f| %>
    <div class="form-group m-5">
      <%= f.input :name, label:"Nome do produto" %>
      <%= f.input :description, label:"Descrição do produto" %>
      <%= f.input :name, label:"Nome do produto" %>
      <%= f.input :name, label:"Nome do produto" %>
      <%= f.button :submit, class:"btn btn-light" %>
    <% end %>
      <%= link_to "Voltar", cocktails_path, class:'btn btn-light' %>
    </div>

<!-- CRIAR AS CATEGORIAS DOS PRODUTOS E OLHAR O EXEMPLO LÁ DO RESTAURANTES
PARA FAZER O ARRAY E O VALIDATIONS -->
