<div class="container">
  <h1>Categoria: <%= @product.category.capitalize %></h1>
  <div class="d-flex justify-content-around">
    <div class="content-box">
      <%= cl_image_tag(@product.photo, width: 150, height: 150, crop: :thumb) %>
      <h2>Produto: <%= @product.name %></h2>
      <h3>Descrição</h3>
        <p><%= @product.description %></p>
      <h3>Price</h3>
        <p><%= @product.price %></p>
      <h3>Disponibilidade</h3>
        <p><%= @product.status %></p>
        <%= link_to 'Editar Produto', edit_product_url(@product.id) %>
        <%= link_to 'Apagar Produto', product_path(@product.id),
          method: :delete,
          data: { confirm: "Você tem certeza que deseja apagar esse produto?" }, class:'btn btn-link'%>
    </div>
    <div class="form-box">
      <%= render 'bookings/form', product: @product, booking: @booking %>
    </div>
  </div>
</div>
<div class="bookings-display">
  <% @product.bookings.each do |booking| %>
    <h4>Reservado para o perído</h4>
    <p>De: <%= booking.b_date %></p>
    <p>Até: <%= booking.e_date %></p>
  <% end %>

</div>
<%= link_to 'Back to products', products_path %>

