<div class="row mt-4 justify-content-center">
  <h1 class="title-maior"><%= @product.category.capitalize %></h1>
</div>
      <div class="productView">
  <div class="row p-3 justify-content-center mt-4">
    <div class="content-box col-md-5 col-sm-12">
      <h2 class="productView-title d-flex justify-content-center">Produto: <%= @product.name %></h2>
      <div class="justify-content-center mx-3">
      <%= cl_image_tag(@product.photo, width: 520, height: 400, crop: :thumb, class:"photoclass") %>
      </div>

    </div>
      <div class="content-box-color col-md-4 col-sm-12 mb-5">
        <h3 class="productView-reservar">Agendar Produto</h3>
        <%= render 'bookings/form', product: @product, booking: @booking %>
      </div>

      <div class="bookings-display">
        <% @product.bookings.each do |booking| %>
          <h4>Reservado para o(s) perído(s)</h4>
          <p>De: <%= booking.b_date %></p>
          <p>Até: <%= booking.e_date %></p>
        <% end %>
      </div>
</div>
</div>
</div>
</div>
      <%= link_to 'Back to products', products_path, class:"btn btn-secondary" %>

        <h3>Descrição</h3>
        <p><%= @product.description %></p>
        <h4><%= number_to_currency(@product.price, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %></h4>
        <h4><%= @product.status ? 'Disponível' : 'Indisponível' %></h4>

          <%= link_to 'Editar Produto', edit_product_url(@product.id), class: 'btn btn-secondary' %>
          <%= link_to 'Apagar Produto', product_path(@product.id),
          method: :delete,
          data: { confirm: "Você tem certeza que deseja apagar esse produto?" }, class: 'btn btn-danger' %>
