
<div class="container">
  <h1>Categoria: <%= @product.category.capitalize %></h1>
  <div class="d-flex justify-content-around">
    <div class="content-box">
      <h2>Produto: <%= @product.name %></h2>
      <h3>Descrição</h3>
       <p><%= @product.description %></p>
      <h3>Price</h3>
        <p><%= @product.price %></p>
      <h3>Disponibilidade</h3>
        <p><%= @product.status %></p>
    </div>
    <div class="form-box">
      <%= render 'bookings/form', product: @product, booking: @booking %>
    </div>
  </div>
</div>
<%= link_to 'Back to products', products_path %>

