<h1>Produtos</h1>
<h2>Name</h2>
<h2><%= @product.name %></h2>
<h3>Descrição</h3>
 <p><%= @product.description %></p>
 <h3>Category</h3>
  <p><%= @product.category %></p>
  <h3>Price</h3>
  <p><%= @product.price %></p>
  <h3>Status</h3>
  <p><%= @product.status %></p>
